.sidebar {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 80px;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 105px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(231, 230, 230);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 10px;
}